<div class="container">
    <mat-card class = "card">
        <h1 class="title">
            Artist Profile
        </h1>
        <p class = "details">
            First Name :{{artist.FirstName}}
        </p>
        <p class = "details">
            Last Name:{{artist.LastName}}
        </p>
        <p class = "details">
            Genre : {{artist.Genre}}
        </p>
        <p class = "details">
            Description: Very popular artist with a lot of subscribers on TikTok
        </p>
        <p class = "details">
            Photo : Aici trebuie fie o poza
        </p>
    </mat-card>
</div>