<div class="content">
    <div class="welcome">
        <span>Welcome {{loggedUser.username}}</span>
    </div>
    <div class="table-cont">
            <table mat-table [dataSource]="artists" class="mat-elevation-z8 demo-table table">
                    <ng-container matColumnDef="FirstName">
                    <th mat-header-cell *matHeaderCellDef>FirstName</th>
                    <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="LastName">
                    <th mat-header-cell *matHeaderCellDef>LastName</th>
                    <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="Genre">
                    <th mat-header-cell *matHeaderCellDef>Genre</th>
                    <td mat-cell *matCellDef="let element">{{element.genre}}</td>
                    </ng-container>
                
                    
                    <ng-container matColumnDef="Profile">
                        <th mat-header-cell *matHeaderCellDef>Profile</th>
                        <td mat-cell *matCellDef="let element" (click) = "goToArtist(element.id)">
                            <mat-icon>
                                person
                            </mat-icon>
                        </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="startTime">
                    <th mat-header-cell *matHeaderCellDef>Start Time</th>
                    <td mat-cell *matCellDef="let element">{{element.startTime}}</td>
                    </ng-container> -->

                    <!-- <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef>Edit</th>
                        <td mat-cell *matCellDef="let element" (click) = "editEvent(element)">
                            <mat-icon>
                                edit
                            </mat-icon>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef>Delete</th>
                        <td mat-cell *matCellDef="let element" (click) = "deleteEvent(element)">
                            <mat-icon>
                                delete
                            </mat-icon>
                        </td>
                    </ng-container> -->
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

    </div>


    <div class="navigation" (click) = "logout()">
        <a class="logout-button" href="">
            <img src="https://media.istockphoto.com/vectors/avatar-builder-outline-icon-in-blue-neon-style-signs-and-symbols-can-vector-id1168007943?k=20&m=1168007943&s=612x612&w=0&h=cXuSUuDm1VT-R1cLydiDic7zkg8HywOLNRM7vKwYt4s=" alt="">
        </a>
        <div class="logout">LOGOUT</div>

    </div>
</div>
